In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

data=pd.read_csv('/home/arvy/Documents/ML/datasets/train_u6lujuX_CVtuZ9i.csv')
data.drop(['Loan_ID'],axis=1,inplace =True)

In [123]:
from sklearn.preprocessing import Binarizer


data.head(50)

for x in range(0,data.Dependents.shape[0]):
    if data.Dependents[x] == '3+':
        data.Dependents[x]='3'

data.head(30)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,Male,Yes,3,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y

In [143]:
from sklearn.preprocessing import LabelEncoder
gle=LabelEncoder()
data.Gender=gle.fit_transform(data['Gender'])
data.Married=gle.fit_transform(data['Married'])
data.Education=gle.fit_transform(data['Education'])
data.Self_Employed=gle.fit_transform(data.Self_Employed)
data.Property_Area=gle.fit_transform(data.Property_Area)
data.Loan_Status=gle.fit_transform(data.Loan_Status)
print(data.head(50))
data.info()
data.fillna(0)

from sklearn.preprocessing import StandardScaler
scal=StandardScaler()
scal.fit_transform(data)


data.Dependents.fillna('0',inplace=True)
data.Dependents.astype(int)

print(data.head(50))

    Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
0        2        1          0          0              1             5849
1        2        2          1          0              1             4583
2        2        2          0          0              2             3000
3        2        2          0          1              1             2583
4        2        1          0          0              1             6000
5        2        2          2          0              2             5417
6        2        2          0          1              1             2333
7        2        2          3          0              1             3036
8        2        2          2          0              1             4006
9        2        2          1          0              1            12841
10       2        2          2          0              1             3200
11       2        2          2          0              0             2500
12       2        2          2          0              1             3073
13       2        1          0          0              1             1853
14       2        2          2          0              1             1299
15       2        1          0          0              1             4950
16       2        1          1          1              1             3596
17       1        1          0          0              1             3510
18       2        2          0          1              1             4887
19       2        2          0          0              0             2600
20       2        2          0          1              1             7660
21       2        2          1          0              1             5955
22       2        2          0          1              1             2600
23       0        2          2          1              1             3365
24       2        2          1          0              0             3717
25       2        2          0          0              2             9560
26       2        2          0          0              1             2799
27       2        2          2          1              1             4226
28       2        1          0          1              1             1442
29       1        1          2          0              0             3750
30       2        2          1          0              0             4166
31       2        1          0          0              1             3167
32       2        1          1          0              2             4692
33       2        2          0          0              1             3500
34       2        1          3          0              1            12500
35       2        2          0          0              1             2275
36       2        2          0          0              1             1828
37       1        2          0          0              1             3667
38       2        1          0          0              1             4166
39       2        1          0          1              1             3748
40       2        1          0          0              1             3600
41       2        1          0          0              1             1800
42       2        2          0          0              1             2400
43       2        2          0          0              1             3941
44       2        2          0          1              2             4695
45       1        1          0          0              1             3410
46       2        2          1          0              1             5649
47       2        2          0          0              1             5821
48       1        2          0          0              1             2645
49       1        1          0          0              1             4000

    CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                 0.0         NaN             360.0             1.0
1              1508.0       128.0             360.0             1.0
2                 0.0        66.0             360.0             1.0
3              2358.0       120.0             360.0             1.0
4                 0.0       141.0             360.0             1.0
5              4196.0       267.0             360.0             1.0
6              1516.0        95.0             360.0             1.0
7              2504.0       158.0             360.0             0.0
8              1526.0       168.0             360.0             1.0
9             10968.0       349.0             360.0             1.0
10              700.0        70.0             360.0             1.0
11             1840.0       109.0             360.0             1.0
12             8106.0       200.0             360.0             1.0
13             2840.0       114.0             360.0             1.0
14             1086.0        17.0             120.0             1.0
15                0.0       125.0             360.0             1.0
16                0.0       100.0             240.0             NaN
17                0.0        76.0             360.0             0.0
18                0.0       133.0             360.0             1.0
19             3500.0       115.0               NaN             1.0
20                0.0       104.0             360.0             0.0
21             5625.0       315.0             360.0             1.0
22             1911.0       116.0             360.0             0.0
23             1917.0       112.0             360.0             0.0
24             2925.0       151.0             360.0             NaN
25                0.0       191.0             360.0             1.0
26             2253.0       122.0             360.0             1.0
27             1040.0       110.0             360.0             1.0
28                0.0        35.0             360.0             1.0
29             2083.0       120.0             360.0             1.0
30             3369.0       201.0             360.0             NaN
31                0.0        74.0             360.0             1.0
32                0.0       106.0             360.0             1.0
33             1667.0       114.0             360.0             1.0
34             3000.0       320.0             360.0             1.0
35             2067.0         NaN             360.0             1.0
36             1330.0       100.0               NaN             0.0
37             1459.0       144.0             360.0             1.0
38             7210.0       184.0             360.0             1.0
39             1668.0       110.0             360.0             1.0
40                0.0        80.0             360.0             1.0
41             1213.0        47.0             360.0             1.0
42                0.0        75.0             360.0             NaN
43             2336.0       134.0             360.0             1.0
44                0.0        96.0               NaN             1.0
45                0.0        88.0               NaN             1.0
46                0.0        44.0             360.0             1.0
47                0.0       144.0             360.0             1.0
48             3440.0       120.0             360.0             0.0
49             2275.0       144.0             360.0             1.0

    Property_Area  Loan_Status
0               2            1
1               0            0
2               2            1
3               2            1
4               2            1
5               2            1
6               2            1
7               1            0
8               2            1
9               1            0
10              2            1
11              2            1
12              2            1
13              0            0
14              2            1
15              2            1
16              2            1
17              2            0
18              0            0
19              2            1
20              2            0
21              2            1
22              1            0
23              0            0
24              1            0
25              1            1
26              1            1
27              2            1
28              2            0
29              1            1
30              2            0
31              2            0
32              0            0
33              1            1
34              0            0
35              2            1
36              2            0
37              1            1
38              2            1
39              1            1
40              2            0
41              2            1
42              2            1
43              1            1
44              2            1
45              2            1
46              2            1
47              2            1
48              2            0
49              1            1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null object
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null int64
dtypes: float64(4), int64(7), object(1)
memory usage: 57.6+ KB

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [135]:
data.fillna(0)
data.corr(method='pearson')['Loan_Status']

AttributeError: 'function' object has no attribute 'hist'

In [140]:
y=data.Loan_Status
X=data.drop(['Loan_Status'],axis=1)
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [141]:
from sklearn.svm import SVC
model=SVC()
model.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').